
body{
    max-height: 100vh;
}
.top-section{
    border: solid 1px black;
    text-align: center;
    height: 50px;
}

.nav{
    display: flex;
    justify-content: center;
    border: solid 1px black;
    text-align: center;
    height: 30px;
}

.nav-links{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}

.hero{
    border: solid 1px black;
    text-align: center;
    height: 180px;
}

.main-section{
    border: solid 1px black;
    text-align: center;
    height: 110px;
}

footer{
    border: solid 1px black;
    text-align: center;
    height: 80;
}